name: Run Tests

on:
  pull_request:
    branches:
      - main
      - develop
      - release/*

jobs:
  unit-tests:
    runs-on: ubuntu-22.04

    services:
      postgres:
        image: postgres:13
        env:
          POSTGRES_PASSWORD: postgres
        ports:
          - 5432:5432
        options: >-
          --health-cmd "pg_isready -U postgres"
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.11'

    - name: Install Python dependencies
      run: |
          sudo apt-get update
          sudo apt-get install -y libzbar0
          pip install --upgrade pip
          pip install -r requirements.txt

    - name: Run Unit Tests
      env:
        DATABASE_URL: postgres://postgres:postgres@localhost:5432/test_db
        ALLOWED_HOSTS: localhost
        DB_NAME: test_db
        DB_HOST: localhost
        DB_USER: postgres
        DB_PASSWORD: postgres
      run: |
        python manage.py test --exclude-tag=selenium -v 2

  selenium-tests:
    runs-on: ubuntu-22.04

    services:
      postgres:
        image: postgres:13
        env:
          POSTGRES_PASSWORD: postgres
        ports:
          - 5432:5432
        options: >-
          --health-cmd "pg_isready -U postgres"
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.11'

    - name: Install Chrome and ChromeDriver
      run: |
          sudo apt-get update
          sudo apt-get install -y wget unzip xvfb libxi6 libgconf-2-4
          wget -q -O - https://dl.google.com/linux/linux_signing_key.pub | sudo apt-key add -
          sudo sh -c 'echo "deb [arch=amd64] http://dl.google.com/linux/chrome/deb/ stable main" >> /etc/apt/sources.list.d/google-chrome.list'
          sudo apt-get update
          # Install Google Chrome
          sudo apt-get install -y google-chrome-stable
          # Fetch the installed Chrome version
          CHROME_VERSION=$(google-chrome --version | grep -oP '\d+\.\d+\.\d+')
          # Fetch the matching ChromeDriver version from the JSON file
          CHROMEDRIVER_VERSION=$(curl -s https://googlechromelabs.github.io/chrome-for-testing/known-good-versions-with-downloads.json | jq -r --arg CHROME_VERSION "$CHROME_VERSION" '.versions[] | select(.version | startswith($CHROME_VERSION)) | .downloads.chromedriver[] | select(.platform == "linux64").url')
          # Download and install ChromeDriver
          wget -N $CHROMEDRIVER_VERSION -P ~/
          unzip ~/chromedriver-linux64.zip -d ~/
          sudo mv -f ~/chromedriver-linux64/chromedriver /usr/local/bin/chromedriver
          sudo chown root:root /usr/local/bin/chromedriver
          sudo chmod 0755 /usr/local/bin/chromedriver
          # Install libzbar shared library
          sudo apt-get install libzbar0

    - name: Install Python dependencies
      run: |
          pip install --upgrade pip
          pip install -r requirements.txt

    - name: Run Selenium Tests (with retry)
      uses: nick-fields/retry@v3
      with:
        timeout_minutes: 15
        max_attempts: 2
        command: |
          python manage.py test --tag=selenium -v 2
      env:
        DATABASE_URL: postgres://postgres:postgres@localhost:5432/test_db
        ALLOWED_HOSTS: localhost
        DB_NAME: test_db
        DB_HOST: localhost
        DB_USER: postgres
        DB_PASSWORD: postgres

    - name: Upload screenshot on failure
      if: failure()
      uses: actions/upload-artifact@v4
      with:
        name: test-screenshot
        path: "**/*.png"
